/* Start Global */
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
}
/* End Global */
/* Start header */
header{
    width:100%;
    height: 800px;
    background-image: url("../images/drew-coffman-1872.jpg");
    background-position: center center;
    background-size: cover;
    position:relative;
}
header .overlay{
    width:100%;
    height:100%;
    background-color:black;
    opacity: 0.3;
}
header nav{
    width:100%;
    height:90px;
    position:absolute;
    top:0;
    left:0;
}
header nav .navbar{
    width:1240px;
    height:100%;
    margin:0 auto;
    padding: 0 16px;
}
header nav .navbar img{
    margin-top:18px;
}
header nav .navbar ul{
    list-style: none;
    float: right;
    margin:37px 8px 0 0;
    color:#FFF;
    font-size: 19px;
    font-weight: bold;
}
header nav .navbar ul li{
    display: inline-block;
    margin-right:31px;
}
header nav .navbar ul li span{
    color:#e0dcd2;
}
header .content{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
}
header .content .sup{
    width:625px;
    margin:284px auto;
}
header .content .sup p{
    margin-bottom: 20px;
    color: rgba(255,255,255, .92);
    font-size: 22px;
    font-weight: bold;
    line-height: 1.86em;
}
header .content .sup h1{
    font-size: 56px;
    font-weight: bold;
    color:#FFF;
    margin-bottom: 16px;
    font-family: "Alegreya";
}
header .content .sup input{
        padding:15px 28px;
        border-radius: 5px;
        border:none;
        margin:5px;
        font-weight: bold;
}
header .content .sup .one{
    background-color: #8e7754;
    color:#FFF;
}
header .content .sup .one:hover{
    background-color: #FFF;
    color:#000;
}
header .content .sup .two{
    background:none;
    color:#FFF;
    border:1px solid #FFF;
    padding:13px 28px;

}
header .content .sup .two:hover{
    background-color: #FFF;
    color:#000;

}
/* End header */
/* Start Main */
.who {
    width:100%;
    height:716px;
    overflow:hidden;
}
.who section{
    width:1240px;
    height:567px;
    margin:80px auto;
}
.who section aside{
    width:565px;
    height:100%;
}
.who section .left{
    float:left;
}
.who section .left img{
    width:565.2px;
    height:536
}
.who section .right{
    float:right;
    overflow:hidden;
}
.who section .right article{
    margin-top:65px;
}
.who section .right article h2{
    font-size: 32px;
    margin-bottom:25px;
    color:#303030;
    font-family: "Alegreya";
    font-weight: 400;
}
.who section .right article p{
    margin-bottom: 25px;
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: bold;
    color: #686868;
}
.who section .right article ul li{
    color:#686868;
    font-weight: bold;
    margin-bottom:20px;
}
i{
    width: 36px;
    height: 32px;
    border: 1px #CCC solid;
    color: #8E7754;
    border-radius: 100%;
    text-align: center;
    padding: 8px 5px 5px 5px;
    margin-right: 20px;
    font-size: 25px;
    
}
/* End Main */
/* Start Location */
.location{
    width:100%;
    height:716px;
    background-color: #F8F8F8;
    overflow:hidden;
}
.location section{
    width:1240px;
    height:567px;
    margin:80px auto;
}
.location section aside{
    width:565px;
    height:100%;
}
.location section .left{
    float:left;
    overflow: hidden;
}
.location section .left .content{
    margin-top:140px;
}
.location section .left .content h2{
    font-size: 32px;
    margin-bottom:25px;
    color:#303030;
    font-family: "Alegreya";
    font-weight: 400;
}
.location section .left .content p{
    margin-bottom: 25px;
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: bold;
    color: #686868;
}
.location section .right{
    float:right;
}
.location section .right img{
    width:100%;
    height:90%;
    margin-top:30px;
}
/* End Location */
/* Start baking */
.baking{
    width:100%;
    height:716px;
    overflow:hidden;
}
.baking section{
    width:1240px;
    height:567px;
    margin:80px auto;
}
.baking section .header{
    text-align: center;
}
.baking section .header h2{
    font-size: 32px;
    margin-bottom:25px;
    color:#303030;
    font-family: "Alegreya";
    font-weight: 400;
}
.baking section .header p{
    margin-bottom: 25px;
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: bold;
    color: #686868;
}
.baking section .image aside{
    width:373px;
    height:311px;
    float:left;
    margin-left: 30px;
}
.baking section .image aside img{
    width:100%;
    height:100%;
}
.baking section .content aside{
    width:373px;
    height:311px;
    float:left;
    text-align: center;
    margin-left: 30px;

}
.baking section .content aside h4{
    font-size: 25px;
    margin-bottom:25px;
    color:#303030;
    font-family: "Alegreya";
    font-weight: 400;
    margin-top: 10px;
}
.baking section .content aside p{
    margin-bottom: 25px;
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: bold;
    color: #686868;
}
/* End baking */
/* Start Map */
.map{
    width:100%;
    height:716px;
    overflow:hidden;
    background-color: #F8F8F8;
}
.map .container{
    width:1240px;
    height:567px;
    margin:80px auto;
}

.map .container section{
    width:565px;
    height:100%;
}
.map .container  .left{
    float: left;
}
.map .container  .left h2{
    font-size: 32px;
    margin-bottom:25px;
    color:#303030;
    font-family: "Alegreya";
    font-weight: 400;
}
.map .container  .left p{
    margin-bottom: 25px;
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: bold;
    color: #686868;
}
.map .container .left ul{
    list-style: none;
}
.map .container .left ul li{
    color:#686868;
    font-weight: bold;
    margin-bottom:20px;
}
.map .container .left ul li i{
    background-color: #8E7754;
    color: #FFF;
}
.map .container  .right{
    float: right;

}
.map .container  .right iframe{
    width:100%;
    height:100%;
}
/* End Map */
/* Start Footer */
footer{
    width:100%;
    height:500px;
    overflow:hidden;
    background-color: #403D38;
}
footer .container{
    width:1240px;
    height:567px;
    margin:80px auto;
}
footer .container article{
    width:22%;
    height:100%;
    float:left;
    margin-left:20px;
}
footer .container article h3{
    font-size: 18px;
    margin-bottom: 25px;
    color: #fff;
    font-weight: bold;

}
footer .container article p, span, ul{
    display: block;
    color: #969696;
    font-size: 16px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: bold;
    
}
footer .container article  span{
border-bottom: 1px solid rgba(204, 204, 204, 0.212);
}
footer .container article ul{
    list-style: none;
}
footer .container article ul li{
    border-bottom: 1px solid rgba(204, 204, 204, 0.212);
}
footer .container article i{
    border:none;
    font-size: 16px;
    margin-right:1px;
    padding: 0;
}
/* End Footer */
/* Start Footer end */
.end{
    width:100%;
    height:154px;
    background-color: #353330;
    text-align: center;
    padding-top:56px ;
}
.end img{
    margin-bottom: 20px;
}
.end p{
    font-size: 15px;
    color: #777;
    font-weight: bold;
}
/* End Footer end */
.position{
    background-color: #CCC;
    width: 47px;
    padding: 0;
    position: fixed;
    top: 30%;
    right: 0;
    border: none;
    border-radius: 5px 0 0 5px;
}
.position i{
    color:#353330;
}